
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <td>Nome</td>
    <td>Descrição</td>
    <td>Quantidade</td>
    <td>Preço</td>
    <td>Departamento</td>
    <td colspan="2"></td>
  </tr>

  <%= render @produtos %>

  </thead>
</table>