<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice]%></div>
  <%end %>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Quantidade</td>
                <td>Preço</td>
              <td>Departamento</td>
              <td colspan="2"></td>
            </tr>

       <tbody>
       <%= render @produtos %>
       </tbody>
        </thead>
    </table>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Produto com Desconto</h4>
  </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Quantidade</td>
        <td>Preço</td>
        <td>Departamento</td>
      </tr>

      <%= render @produto_com_desconto %>
      </thead>
    </table>
